a{
   text-decoration: none; 
   color: rgb(204, 232, 232);
}

.boton a{

    color: rgb(48, 79, 86);
}


ul{
    
list-style-type: none;
margin: 10px;
}


.header {
display: flex;
justify-content:space-between;
background-color: rgb(44, 44, 83);

}

.links{
    display: flex;
    justify-content: row;
    gap: 30px;
    align-items: center;

}

.intro{

    background-color: rgb(44, 44, 83);
    display: flex;
    justify-content: row;
    padding: 40px; 

}

.intro-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{

    color: gray;
}

.boton{

    background-image: "boton.jpg" ;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    text-align: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.gallery{

    display: flex;
    flex-direction:column;
    margin: 40px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.photos{

    display: flex;
    justify-content: center;
    gap: 50px;

    
}

.info{
    max-width: 100px;
    text-align: center;
    

}

.info img{

    border-radius: 20px;
}


.quote {
background-color:#e5e7eb;
display: flex;
justify-content: center;
flex-wrap: wrap;
padding:50px 120px 50px 120px;
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
font-weight: lighter;
color:#1f2937;

}

.sign{
    margin:50px 90px 50px 90px;
    display: flex;
    background-color:#3882f6;
    border-radius: 5px;
    color: aliceblue;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;

}

.boton2{

    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #3882f6; 

}

.footer {

    background-color: rgb(35, 33, 54);
    color: aliceblue;
    text-align: center;
}